<div id="cities-view-container">
    <h1>ALL USERS</h1>
    <ul>
        <% @users.each do |user| %>
            <li>
                <h2>
                    <%= user.name %>
                    <%= user.username %>
                    <%= user.email %>
                    <%= user.picture %>
                    <%= link_to "Show User", profile_path(user) %>
                </h2>
            </li>
            <% end %>

    </ul>
    <li>
    </li>
</div>

                            