<%= link_to "Back to #{@user.name}", profile_path(@user) %> <br>
<p><%= @user.name %></p>
<p><%= @user.hometown %></p>
<p><%= @user.username %></p>
<%= image_tag @user.picture %>
<br>
<%= button_to "Delete Post", city_post_path,
                             method: :delete, 
                             data: {
                                 :'sweet-alert-confirm' => 'Are you sure you want to delete this post?',
                                 :'confirm-button-text' => 'Yes.',
                                 :'cancel-button-text' => 'Cancel.',
                                 :'confirm-button-color' => '#FF0000',
                                 :'sweet-alert-type' => 'warning'
                                 } %>

<%= link_to "Edit User", edit_profile_post_path(@city) %>                                