<%= link_to "Back to #{@user.name}", profile_path(@user) %> <br>
<p><%= @user.name %></p>
<p><%= @user.hometown %></p>
<p><%= @user.username %></p>
<%= image_tag 'http://orig09.deviantart.net/b3b4/f/2013/116/b/0/spock_facebook_default_pic_by_nocturnalmarauder-d634b2y.jpg' %>
<br>
<%= button_to "Delete User", profile_path,
                             method: :delete, 
                             data: {
                                 :'sweet-alert-confirm' => 'Are you sure you want to delete this post?',
                                 :'confirm-button-text' => 'Yes.',
                                 :'cancel-button-text' => 'Cancel.',
                                 :'confirm-button-color' => '#FF0000',
                                 :'sweet-alert-type' => 'warning'
                                 } %>

<%= link_to "Edit User", edit_profile_path(@user) %>                                