<%= link_to "Back to #{@city.name}", city_path(@city) %> <br>
<p><%= @post.content %></p>
<%= image_tag @post.picture %>
<br>
<button class="btn btn-danger">
    <%= link_to "Delete Post", city_post_path,
                                method: :delete, 
                                data: {
                                    :'sweet-alert-confirm' => 'Are you sure you want to delete this post?',
                                    :'confirm-button-text' => 'Yes.',
                                    :'cancel-button-text' => 'Cancel.',
                                    :'confirm-button-color' => '#FF0000',
                                    :'sweet-alert-type' => 'warning'
                                    } %>
</button>


<%= link_to "Edit Post", edit_city_post_path(@city) %>                                