<div id="cities-view-container">
    <h1><%= @city.name %><SHOW></SHOW></h1>
    <ul>
        <% @city.posts.each do |post| %>
            <li>
                <h2>
                    <%= post.content %> <br>
                    <%= post.user.name %>
                    <%= image_tag post.picture %>
                    puts post.content
                </h2>
            </li>
            <% end %>

    </ul>
    <li>
        <%= link_to "new post", new_city_post_path(@city)%>
    </li>
</div>
