<div id="cities-view-container">
    <h1><%= @city.name %><SHOW></SHOW></h1>
        <%= link_to "new post", new_city_post_path(@city)%>
    <ul>
        <% @city.posts.each do |post| %>
            <li>
                <h2>
                    <%= post.content %> <%= link_to "View Post", city_post_path(@city, post) %><br>
                    
                    <%= image_tag post.picture, :class => "image" %><br>
                    <%= post.user.name %>
                </h2>
               
            </li>
            <% end %>

    </ul>
</div>
