
<h1><%= @city.name %></h1>
<%= link_to "Back To Cities", cities_path %> | <%= link_to "New Post", new_city_post_path(@city)%>
<div id="cities-view-container">
    <ul>
        <% @city.posts.each do |post| %>
            <li class="cards">
                <p>
                    <%= image_tag post.picture, :class => "image" %><br>
                    <%= post.content %> <%= link_to "View Post", city_post_path(@city, post) %><br>
                    <%= post.user.name %>
              </p>
            
            <% if user_signed_in? && current_user.id == post.user_id %>
                <button class="btn btn-default">
                    <%= link_to "Edit Post", edit_city_post_path(@city.id, post) %>
                </button>
                <button class="btn btn-danger">
                    <%= link_to "Delete Post", city_post_path(@city.id, post), method: :delete %>                
                </button>
            <% end %>
            </li>
         <% end %>
    </ul>
</div>
